

.userboard{
    border: solid 1px #67595E;
    background-color:#E8B4B8;
    border: solid 1px ;
    margin: 300px 550px;
    padding: 100px 300px;
    border-radius: 20%; 
}
.input-login{
    border-radius: 20px;
    width: 450px;
    padding: 10px;
    margin-left: -140px;

}
.heading{
    color:#67595E;
    align-content: center;
    margin-left: 100px;
    font-size: 35px
}
body{
    background-color:whitesmoke;
}
.head{
    font-size: 50px;
}
.button-log{
    background-color:#F79489 ;
    color:fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor:pointer
    margin-top: 10px;  
}
.social:link{
    display: flex ;
    margin: 15px;
}
.link{
    margin-top: -20px;
    padding-left: 10px;
}
.password a{
    text-decoration: none;
    color: blueviolet;
}
