@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');


.userbody{
    color: rgb(100, 76, 76);
    border: solid 5px #f7b5ba;
    background-color: lightgray
}
img{
    border: 1px;
    border-radius: 4px;
    padding: 4px;
    width: 50px;
}



.fi {
    font-size:x-large;
}
p{
    font-size: small;
}
.security{
    line-height: 1px;
}
#complete-payment{border: solid 20px #E8B4B8;
    margin-top: 25px;

}




